{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/admin/user">用户管理</a></li>
    <li><span>用户列表</span></li>
</ol>

<h3>用户列表</h3>

{% if users.length %}
<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>密码</th>
        <th>是否是管理员</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user._id.toString()}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>
            {%if user.isAdmin%}
            <span style="display:inline-block; padding: 2px; background-color:#286090; color:#fff;">是</span>
            {% else %}
            <span>否</span>
            {%endif%}
        </td>
    </tr>
    {% endfor %}
</table>
{% include 'page.html' %}
{% else %}
<div class="alert alert-info" role="alert">暂无用户信息！</div>
{% endif %}

{% endblock %}